*~
*.blend1
*.local.toml
*.orig
ci-super-linter-local-image.tar.gz
.DS_Store
.env
.mypy_cache/
.pytest_cache/
.ruff_cache/
/.idea/
/.venv/
/.vscode/
/node_modules/
/extension_output/
/release_output/
/super-linter-output/
__pycache__/

/.local/**

# commit /.local/tmp/.gitkeep
!/.local/tmp/
/.local/tmp/**
!/.local/tmp/.gitkeep

# commit /.local/var/cache/.gitkeep
!/.local/var/
/.local/var/**
!/.local/var/cache
/.local/var/cache/**
!/.local/var/cache/.gitkeep
