*
!*/
!*.bat
!*.blend
!*.glsl
!*.jpeg
!*.md
!*.py
!*.sh
!/.flake8
!/.editorconfig
!/.gitattributes
!/.gitignore
!/.pylintrc.ci
!/.github/workflows/*.yml
!/.github/*.yml
!/LICENSE
!/poetry.lock
!/pyproject.toml
!/dictionary.txt
!/typings

*.blend1
*.pyc
/tests/test_GENERATED_*
/venv/
/.venv/
