*~
*.blend1
*.orig
ci-super-linter-local-image.tar.gz
.DS_Store
.env
.mypy_cache/
.pytest_cache/
.ruff_cache/
/.cache/
/.idea/
/.venv/
/.vscode/
/node_modules/
/extension_output/
/release_output/
/super-linter-output/
__pycache__/
